[mysql]

[mysqld]
bind-address = 0.0.0.0
default_password_lifetime = 0
innodb_lock_wait_timeout=120
slow_query_log=1
log_queries_not_using_indexes=1
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
